{:kotoba.app/id "cloud.itonami.isic-869", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigcvwvnw4qk6peunyhrkyp4auwgypl53lj5ytcyxc3m6eg2h6rhuy", :kotoba.app/embed-url "ipfs://bafkreigcvwvnw4qk6peunyhrkyp4auwgypl53lj5ytcyxc3m6eg2h6rhuy", :published {:archive "https://kotobase.net/ipfs/bafkreigcvwvnw4qk6peunyhrkyp4auwgypl53lj5ytcyxc3m6eg2h6rhuy", :size 72744, :put-status 201, :get-status 200, :at "2026-08-15T13:57:11.638Z"}}
